/* Center-align the form */
#form {
  max-width: 600px;
  margin: 50px auto; /* Center the form horizontally */
}

/* Style form fields */
#id_body {
  width: calc(100% - 22px); /* Adjusted width to account for padding and borders */
  height: 80px; /* Set the height of all fields */
  padding: 10px;
  margin-bottom: 20px; /* Add space between fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in the width */
}

#id_name {
  width: calc(100% - 22px); /* Adjusted width to account for padding and borders */
  height: 40px; /* Set the height of all fields */
  padding: 10px;
  margin-bottom: 20px; /* Add space between fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in the width */
}


/* Style the submit button */
button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}