{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel | Categories </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->

	<!-- Icomoon Icon Fonts-->

	<!-- Magnific Popup -->

	<!-- Salvattore -->

	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/css2.css'%}">
	<!-- Modernizr JS -->

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js'%}"></script>
	<![endif]-->
</head>
<body>
    <div class="container2">
        <div class="sidebar">
            <div class="add-post-button">
                <i class="fas fa-plus"></i> <!-- Plus sign icon -->
                <a href="/add_post.html">Add Post</a>
            </div>
            <ul>
                <li><i class="fas fa-pencil-alt"></i><a href="posts_dashboard.html">Posts</a></li>
                <li><i class="fas fa-th-large"></i><a href="category.html">Categories</a></li>
                <li><i class="fas fa-comment"></i><a href="comments.html">Comments</a></li>
                <li><i class="fas fa-images"></i><a href="media.html">Media</a></li>
            </ul>
        </div>
          <div class="content">
            <div class="panel-container">
                <div class="published-title">Comments</div>
                {% for  comments in comments %}
                <div class="panel">
                    <div class="post">
{#                     <img src="{{ catlist.cat_image.url}}" alt="Free HTML5 Bootstrap temp">#}
                        <p><strong>Post:</strong> {{ comments.post }}</p>
                        <span class="separator">|</span>
                        <p><strong>Name:</strong> {{ comments.name }}</p>
                        <span class="separator">|</span>
                        <p><strong>Comment:</strong>{{ comments.body }}</p>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
